.header {
  position: fixed;
  padding-top: 28px;
  width: 100%;
}

.header .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  margin-top: 21px;
}

.menu-btn__row {
  width: 39px;
  height: 6px;
  background: #fff;
  margin-bottom: 8px;
}

.menu-btn__row:last-child {
  margin-bottom: 0;
}

.menu-btn {
  padding: 8px 6px;
  cursor: pointer;
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F65C47;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  height: 51px;
}

.menu {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 0px;
  overflow: hidden;
}
.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  padding-right: 60px;
  padding-left: 38px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.menu li {
  margin-right: 56px;
}
.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.menu-wrapper.active .menu {
  width: auto;
}
.menu-wrapper.active .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-btn__row {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-wrapper.active .menu-btn__row:last-child {
  display: none;
}
.menu-wrapper.active .menu-btn__row:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 0;
  position: relative;
  top: 14px;
}
.menu-wrapper.active .menu-btn__row:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 0;
  position: relative;
  top: 8px;
}

@media (max-width: 768px) {
  .logo {
    margin-top: 0;
  }
  .logo img {
    width: 34.606vw;
  }
  .header {
    padding-top: 9.924vw;
  }
  .menu-btn__row {
    width: 9.924vw;
    height: 1.527vw;
    margin-bottom: 2.036vw;
  }
  .menu-btn {
    padding: 2.036vw 1.527vw;
  }
  .menu ul {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0vw;
    padding-right: 0;
  }
  .menu {
    width: auto;
  }
  .menu a {
    white-space: nowrap;
  }
  .menu-wrapper {
    height: auto;
    position: fixed;
    top: 9.16vw;
    right: 8.397vw;
  }
  .menu-wrapper.active .menu-btn__row:first-child {
    top: 3vw;
  }
  .menu-wrapper.active .menu {
    width: 70vw;
    padding-top: 25.191vw;
    padding-bottom: 25.191vw;
  }
  .menu-wrapper.active .menu ul {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 6.87vw;
  }
  .menu-wrapper.active .menu ul li {
    margin-right: 0;
    margin-bottom: 4.58vw;
  }
  .menu-wrapper.active .menu ul li a {
    font-size: 5.089vw;
  }
}